# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
.vscode/

# Local files
*.html
*.zip
misc.txt
aa.txt
poetry.lock
pyproject.toml